.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 16px;
}

.form input {
  font-size: 1rem;
  padding: 10px;
}

.buttonWrapper {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  justify-content: center;
}

.form button {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 700px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form textarea {
    min-height: 200px;
  }

  .form button {
    justify-content: center;
    align-self: center;
    padding: 5px 10px;
  }
}
