* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @font-face {
    font-family: "Futura";
    src: local("Futura"), url(./fonts/Futura.ttc) format("ttc");
  }
}

body {
  font-family: Futura, Helvetica, sans-serif;
}

img {
  width: 100%;
  object-fit: contain;
}
