* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @font-face {
    font-family: "Futura";
    src: local("Futura"), url(./fonts/Futura.ttc) format("ttc");
  }
}

body {
  font-family: Futura, Helvetica, sans-serif;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Futura";
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Futura";
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Futura";
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Futura";
}

input:focus {
  outline: none;
}

img {
  width: 100%;
  object-fit: contain;
}

input {
  font-family: "Futura";
}

button {
  font-family: "Futura";
  background-color: #003e2c;
  border-radius: 3px;
  color: white;
  padding: 3px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

textarea {
  font-family: "Futura";
}

h1,
h2 {
  font-weight: 500;
}
