* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @font-face {
    font-family: "Futura";
    src: local("Futura"), url(./fonts/Futura.ttc) format("ttc");
  }
}

body {
  font-family: Futura, Helvetica, sans-serif;
  background-color: #f3e8ee;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Futura";
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Futura";
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Futura";
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Futura";
}

img {
  width: 100%;
  object-fit: contain;
}

input {
  font-family: "Futura";
}

button {
  font-family: "Futura";
}

textarea {
  font-family: "Futura";
}
